!!!
head
  title= title
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  // STYLES
  link(rel="stylesheet", href="/linker/styles/app.css")
  // STYLES END
body

  include includes/header

  block body

  include includes/footer

  block scripts
    // Append scripts in child templates with `append scripts`
    // SCRIPTS
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    // SCRIPTS END